<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    {f:variable(name: 'cvConfig', value: data.pi_flexform)}
    <f:if condition="{children_101}">
        <div class="{cvConfig.rowClasses}">
            <f:for each="{children_101}" as="cvRecord">
                <f:if condition="{cvRecord.ce_grid_classes} == '!external'">
                    <f:then>
                        {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
                    </f:then>
                    <f:else>
                        <div class="{cvRecord.ce_grid_classes}">
                            {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
                        </div>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
