<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
    {f:variable(name: 'cvConfig', value: data.pi_flexform)}
    {f:variable(name: 'cvConfig', value: '{count: 1, shuffle: 1}') -> f:if(condition: '{cvConfig as integer} == 0')}
    {children_101 -> pvh:iterator.random(count: cvConfig.count, shuffle: cvConfig.shuffle, as: 'cvRecords')}
    <f:for each="{cvRecords}" as="cvRecord">
        {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
    </f:for>
</f:section>
</html>
