<html lang="en" data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="https://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

{f:variable(name: '_textColumnClasses', value: 'col-md-8')}
{f:variable(name: '_textColumnClasses', value: data.pi_flexform.textColumnClasses) -> f:if(condition: data.pi_flexform.textColumnClasses)}
{f:variable(name: '_imageColumnClasses', value: 'col-md-4')}
{f:variable(name: '_imageColumnClasses', value: data.pi_flexform.imageColumnClasses) -> f:if(condition: data.pi_flexform.imageColumnClasses)}
<div class="row no-gutters g-0">
    <f:if condition="{data.pi_flexform.imagePosition} == left">
        <div class="{_imageColumnClasses} cec-image-col">
            <f:render partial="Card/Parts/Image" arguments="{_all}" />
        </div>
        <div class="{_textColumnClasses} cec-content-col">
            <f:render partial="Card/Parts/Body" arguments="{_all}" />
        </div>
    </f:if>
    <f:if condition="{data.pi_flexform.imagePosition} == right">
        <div class="{_textColumnClasses} cec-content-col">
            <f:render partial="Card/Parts/Body" arguments="{_all}" />
        </div>
        <div class="{_imageColumnClasses} cec-image-col">
            <f:render partial="Card/Parts/Image" arguments="{_all}" />
        </div>
    </f:if>
</div>
</html>
